body{
    font-family: sans-serif;
    size: 14px;
    line-height: 20px;
    color: #fff;
    background: #000;
}
header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 120px;
    line-height: 120px;
    padding: 0 48px;
}
header a.badge{
    display: none;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 48px;
    font-size: 12px;
    opacity: .4;
    display: flex;
    justify-content: space-between;
}
section{
    padding: 64px 48px 32px 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(ribbon.png) repeat-x 0 256px;
    justify-items: center;
}
h1{
    font-size: 48px;
    font-weight: bold;
}
p{
    margin-bottom: 16px;
    color: #777;
}
article{
    margin-top: 380px;
}
article img{
    display: block;
    margin-top: 64px;
}
div{
    position: relative;
}
div img{
    max-width: 480px;
    height: auto;
    display: block;
    z-index: 100000;
    position: relative;
    pointer-events: none;
}
p strong{
    color: #fff;
}
video{
    width: 359px;
    height: auto;
    position: absolute;
    top: 30px;
    left: 61px;
    z-index: 10;
}
.mask{
    position: absolute;
    background: #000;
    height: 43px;
    width: 165px;
    top: 36px;
    left: 155px;
    z-index: 10000;
}

/* /* Phones (portrait) / */
@media only screen and (max-width: 480px) {
    body{
        
    }
    header, footer{
        padding: 0 24px;
    }
    header{
        line-height: 72px;
        height: 72px;
        z-index: 10000000;
        background: rgba(0,0,0,.5);
        backdrop-filter: blur(32px);
    }
    header a.badge{
        position: absolute;
        right: 24px;
        top: 16px;
        display:block;
    }
    h1{
        font-size: 32px;
        line-height: 72px;
    }
    footer{
        font-size: 10px;
    }
    section {
        padding: 24px 0;
        display: flex;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        background: #000 url(ribbon.png) repeat-x 0 256px fixed;
    }
    article a.badge{
        display: none;
    }
    div {
        position: relative;
        margin-top: 64px;
    }
    div img {
        max-width: 330px;
        height: auto;
        display: block;
        z-index: 100000;
        position: relative;
    }
    video {
        width: 246px;
        height: auto;
        position: absolute;
        top: 19px;
        left: 42px;
        z-index: 10;
    }
    .mask {
        position: absolute;
        background: #000;
        height: 30px;
        width: 115px;
        top: 24px;
        left: 105px;
        z-index: 10000;
    }
    article {
        margin-top: 24px;
        background: rgba(0,0,0,.5);
        backdrop-filter: blur(32px);
        padding: 24px;
    }
    footer{
        position: relative;
    }
}

/* /* Phones (landscape) / */
@media only screen and (min-width: 481px) and (max-width: 899px) and (orientation: landscape) {
    header{
        padding: 0 24px;
        
    }
    h1{
        font-size: 40px;
    }
    section {
        padding: 0px 24px;
        background: #000 url(ribbon.png) repeat-x 0 115px;
        background-size: 100% 56px;
    }
    div img {
        max-width: 400px;
    }
    video {
        width: 298px;
        top: 30px;
        left: 51px;
        z-index: 10;
    }
    .mask {
        height: 43px;
        width: 149px;
        top: 36px;
        left: 115px;
    }
    article {
        margin-top: 208px;
    }
    article img {
        display: block;
        margin-top: 48px;
    }
    footer{
        padding: 0 24px;
        position: relative;
        margin-top: 48px;
    }
}

/* /* Tablets (portrait) / */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
    header{
        height: 72px;
        padding: 0 24px;
    }
    footer{
        padding: 0 24px;
    }
    header a.badge{
        display: block;
        right: 24px;
        top: 16px;
        position: absolute;
    }
    section {
        display: flex;
        padding: 92px 32px 72px 32px;
        background: url(ribbon.png) repeat-x 0 256px;
        flex-direction: column-reverse;
        align-items: center;
    }
    article {
        margin-top: 24px;
    }
    div img {
        max-width: 350px;
    }
    video {
        width: 260px;
        height: auto;
        position: absolute;
        top: 20px;
        left: 45px;
    }
    .mask {
        position: absolute;
        background: #000;
        height: 30px;
        width: 117px;
        top: 27px;
        left: 115px;
        z-index: 10000;
    }
    article img{
        margin-top: 24px;
    }
    article a.badge{
        display:none;
    }
}

/* /* Tablets (landscape) / */
@media only screen and (min-width: 1024px) and (max-width: 1199px) and (orientation: landscape){
    header{
        height: 72px;
        padding: 0 24px;
    }
    footer{
        padding: 0 24px;
    }
    section{
        padding: 32px;
        background: url(ribbon.png) repeat-x 0 128px;
        background-size: 100%;
    }
    article {
        margin-top: 230px;
    }
    div img {
        max-width: 400px;
    }
    video {
        width: 298px;
        height: auto;
        position: absolute;
        top: 25px;
        left: 51px;
    }
    .mask {
        position: absolute;
        background: #000;
        height: 43px;
        width: 135px;
        top: 30px;
        left: 129px;
        z-index: 10000;
    }
    article img{
        margin-top: 24px;
    }
}

/* /* Desktop / */
@media only screen and (min-width: 1200px) {

}
