:root {
  --spacing: 32px;
  --hero-spacing: 13vh;
  --header: 32px;
  --body1: 16px;
  --lh-body1: 22px;
  --body2: 16px;
  --lh-body2: 22px;
  --body3: 14px;
  --body4: 12px;
  --headline: 60px;
  --lh-headline: 68px;
  --headline2: 32px;
  --lh-headline2: 40px;
  --headline3: 20px;
  --lh-headline3: 30px;
  --title: 20px;
  --max-width: 1920px;
  --text-columns: 2;
  --grid-columns: 12;
  --main-color:#111;
  --background-color:#fff;
}
body {
  font-family: Helvetica Neue, sans-serif;
  line-height: var(--lh-body2);
  font-size: var(--body2);
  padding: 0 var(--spacing);
  background: var(--background-color);
  color: var(--main-color);
  
}
a{
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}
.grid, .work {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-column-gap: var(--spacing);
  grid-row-gap: 0px;
  max-width: var(--max-width);
  align-items: baseline;
}
.work{
  border-top: 1px solid;
  padding: calc(var(--spacing) / 2) 0;
  align-items: baseline;
}
header {
  margin-top: var(--spacing);
  height: auto;
}
header a{
  font-weight: normal;
}
header ul.grid {
  margin-top: var(--spacing);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: var(--body3);
  align-items: center;
}
header ul li:nth-child(1) {
  font-weight: 600;
  grid-column: 1 / span 3;
  font-size: var(--title);
}
header ul li:nth-child(2) {
  grid-column: 6 / span 2;
}
header ul li:nth-child(3) {
  grid-column: 9 / span 1;
}
footer ul {
  text-transform: uppercase;
  border-top: 1px solid;
  padding: calc(var(--spacing) / 2) 0;
  height: var(--spacing) auto;
  line-height: var(--spacing) auto;;
  white-space: nowrap;
  font-size: var(--body4);
}
footer ul li:nth-child(1) {
  grid-column: 1 / span 3;
}
footer ul li:nth-child(2) {
  grid-column: 6 / span 2;
}
footer ul li:nth-child(3) {
  grid-column: 9 / span 3;
}

/* //
GRID SYSTEM
// */
header {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
}
h1{
  grid-column: 1 / span 8;
  margin: var(--hero-spacing) 0;
}
picture{
  grid-column: 1 / span 5;
  grid-row: 2;
}
.area1{
  grid-column: 6 / span 6;
  grid-row: 2;
}
.area2{
  grid-column: 1 / span all;
  grid-row: 3;
}
.area3{
  grid-column: 1 / span all;
  grid-row: 4;
}
.area4{
  grid-column: 1 / span all;
  grid-row: 5;
}
.area5{
  grid-column: 1 / span all;
  grid-row: 6;
}
.work h2{
  grid-column: 1 / span 2;
}
.work h3{
  grid-column: 3 / span 3;
}
.work p{
  grid-column: 6 / span 3;
}
.work .thumb{
  grid-column: 10 / span 2;
  align-self: center;
}
/* //
Layout heights 
& 
Typography
// */
h1 {
  font-size: var(--headline);
  line-height: var(--lh-headline);
}
h2{
  font-size: var(--headline2);
  line-height: var(--lh-headline2);
}
h3{
  font-size: var(--headline3);
  line-height: var(--lh-headline3);
}
.area1 p {
  border-top: none;
  columns: var(--text-columns);
  column-gap: var(--spacing);
  padding: 0;
  margin: 0 0 var(--spacing) 0 ;
}
/* //
Work images
// */
img {
  width: 100%;
  height: auto;
  outline: solid 0px #fff;
  display: block;
}
.work img {
  aspect-ratio: 1 / 1;
}
article.area2 img {
  background: url(images/fs_google.svg) no-repeat center center;
}
article.area3 img {
  background: url(images/fs_abdz.svg) no-repeat center center;
  background-size: 100%;
  filter: invert();
}
article.area4 img {
  background: url(images/fs_calmaria.png) no-repeat center center;
  background-size: 100%;
}
article.area5 img {
  background: url(images/fs_terral.svg) no-repeat center center;
  filter: invert();
  background-size: 55%;
}

@media only screen and (max-width: 768px) {
  :root {
    --spacing: 16px;
    --hero-spacing: 8vh;
    --header: 20px;
    --body1: 16px;
    --lh-body1: 24px;
    --body2: 14px;
    --lh-body2: 20px;
    --body3: 12px;
    --body4: 10px;
    --headline: 32px;
    --lh-headline: 40px;
    --headline3: 18px;
    --lh-headline3: 24px;
    --title: 16px;
    --max-width: 600px;
    --text-columns: 1;
    --grid-columns: 12;
    --main-color:#111;
    --background-color:#fff;
    --max-width: 400px;
  }
  .grid,
  .work{
    margin: auto auto;
  }
  h1{
    grid-column: 1 / span all;
  }
  picture{
    grid-column: 1 / span all;
  }
  .area1{
    grid-row: 3;
    grid-column: 1 / span all;
    margin: var(--spacing) 0 var(--spacing) 0 ;
  }
  .work h2{
    grid-column: 1 / span 6;
    grid-row: 2;
    margin-top: var(--hero-spacing) 0;
  }
  .work h3{
    grid-column: 1 / span all;
    grid-row: 3;
    margin-top: calc(var(--spacing) / 2);
    margin-bottom: var(--spacing) 0;
  }
  .work p{
    grid-column: 1 / span all;
    grid-row: 4;
    margin: var(--spacing) 0;
  }
  .work .thumb{
    grid-column: 4 / span 6;
    margin:var(--hero-spacing) 0 ;
  }
  .work img{
    background-size:100% !important;
  }
  .work.area2 img{
    background-size:60% !important;
  }
  header ul li:nth-child(2) {
    grid-column: 8 / span 2;
  }
  header ul li:nth-child(3) {
    grid-column: 11 / span 1;
  }
  footer ul li:nth-child(1) {
    grid-column: 1 / span 2;
  }
  footer ul li:nth-child(2) {
    grid-column: 6/ span 1;
  }
  footer ul li:nth-child(3) {
    grid-column: 7 / span 3;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1366px) {
  /* For Tablets portrait: */
  :root {
    --body1: 16px;
    --lh-body1: 24px;
    --body2: 14px;
    --lh-body2: 20px;
    --body3: 12px;
    --body4: 10px;
    --headline2: 28px;
    --lh-headline2: 36px;
    --headline3: 18px;
    --lh-headline3: 26px;
    --text-columns: 1;
  }
  h1{
    grid-column: 1 / span 10;
  }
  .work p{
    grid-column: 6 / span 4;
  }
  .work .thumb{
    grid-column: 11 / span 2;
  }
  .work img{
    aspect-ratio: 1 / 1;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* For Tablets portrait: */
}
