:root {
  --spacing: 32px;
  --hero-spacing: 56px;
  --body1: 16px;
  --lh-body1: 22px;
  --body2: 14px;
  --lh-body2: 19px;
  --body3: 12px;
  --body4: 10px;
  --headline: 64px;
  --title: 20px;
  --lh-headline: 70px;
  --max-width: 1280px;
  --text-columns: 2;
  --grid-columns: 12;
}
body {
  font-family: quasimoda, greycliff-cf, urbane-rounded, sans-serif;
  line-height: var(--lh-body2);
  font-size: var(--body2);
  padding: 0 var(--spacing);
}
.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-column-gap: var(--spacing);
  grid-row-gap: 0px;
  max-width: var(--max-width);
  margin: 0 auto;
}
header {
  margin-top: calc(var(--spacing));
}
header ul {
  text-transform: uppercase;
  border-top: 4px solid;
  border-bottom: 1px solid;
  line-height: var(--hero-spacing);
  white-space: nowrap;
  font-size: var(--body3);
}
header ul li:nth-child(1) {
  font-weight: 600;
  grid-column: 1 / span 3;
  font-size: var(--title);
}
header ul li:nth-child(2) {
  grid-column: 7 / span 2;
}
header ul li:nth-child(3) {
  grid-column: 10 / span 3;
}
footer {
  margin-bottom: calc(var(--spacing));
}
footer ul {
  text-transform: uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
  line-height: var(--hero-spacing);
  white-space: nowrap;
  font-size: var(--body3);
}
footer ul li:nth-child(1) {
  grid-column: 1 / span 3;
}
footer ul li:nth-child(2) {
  grid-column: 7 / span 2;
}
footer ul li:nth-child(3) {
  grid-column: 10 / span 3;
}

/* //
GRID SYSTEM
// */
header {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
}
h1 {
  grid-column: 1 / span 6;
  grid-row: 1 / 2;
  margin: var(--hero-spacing) 0;
}
hr {
  width: 100%;
  grid-column: 1 / span 12;
  grid-row: 2;
  position: relative;
  margin: 0;
  padding: 0;
  border-top: 1px solid;
}
article {
  position: relative;
}
article::after {
  border-left: 1px solid;
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: calc(var(--spacing) / 2 * -1);
}
article.area1::after,
article.area2::after {
  border: none;
}
.area1 {
  grid-column: 7 / span 6;
  grid-row: 1 / 2;
  margin: var(--hero-spacing) 0;
}
.area2 {
  grid-column: 1 / span 3;
  grid-row-start: 2 / span 2;
}
.area3 {
  grid-column: 4 / span 3;
  grid-row-start: 23 / span 2;
}
.area4 {
  grid-column: 7 / span 3;
  grid-row-start: 2 / span 2;
}
.area5 {
  grid-column: 10 / span 3;
  grid-row-start: 2 / span 2;
}
.work p::after {
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 0;
  left: calc(var(--spacing) / 2 * -1);
  right: calc(var(--spacing) / 2 * -1);
}
.work.area2 p::after {
  left: 0px;
}
.work.area5 p::after {
  right: 0px;
}
/* //
Layout heights 
& 
Typography
// */
h1 {
  font-size: var(--headline);
  line-height: var(--lh-headline);
  text-transform: uppercase;
  font-weight: 600;
}
p {
  margin-bottom: var(--hero-spacing);
  padding: calc(var(--spacing) / 2) 0;
  position: relative;
}
.area1 p {
  border-top: none;
  columns: var(--text-columns);
  column-gap: var(--spacing);
  padding: 0;
  margin: 0;
  font-size: var(--body1);
  line-height: var(--lh-body1);
}
/* //
Work images
// */
img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  outline: solid 0px #fff;
  display: block;
}
article.area2 img {
  background: url(images/fs_google.svg) no-repeat center center;
}
article.area3 img {
  background: url(images/fs_abdz.svg) no-repeat center center;
  filter: invert();
}
article.area4 img {
  background: url(images/fs_calmaria.png) no-repeat center bottom;
  background-size: 110%;
}
article.area5 img {
  background: url(images/fs_terral.svg) no-repeat center center;
  filter: invert();
  background-size: 55%;
}

@media only screen and (max-width: 767px) {
  :root {
    --spacing: 16px;
    --hero-spacing: 32px;
    --body1: 15px;
    --lh-body1: 20px;
    --body2: 12px;
    --lh-body2: 16px;
    --body3: 11px;
    --body4: 10px;
    --headline: 48px;
    --lh-headline: 54px;
    --title: 16px;
    --max-width: 1280px;
    --text-columns: 1;
    --grid-columns: 6;
  }
  /* //
GRID SYSTEM
// */
  .grid{
    grid-column-gap: 0;
  }
  header ul.grid{
    grid-column-gap: var(--spacing);
    align-items: center;
    justify-items: right;
  }
  header ul, footer ul{
    line-height: 48px;
  }
  header ul li:nth-child(1) {
    grid-column: 1 / span 2;
  }
  header ul li:nth-child(2) {
    grid-column: 5 / span 1;
  }
  header ul li:nth-child(3) {
    grid-column: 6 / span 1;
  }
  .external a{
    display: block;
    width: 24px;
    height: 24px;
    background: #000;
    border-radius: 50%;
  }
  .external a *{
    display: none;
  }
  h1{
    grid-row: 1;
  }
  .area1{
    grid-column: 1 / span all;
    grid-row:2;
    border-top: 1px solid;
    margin-top: 0;
    padding-top: var(--hero-spacing);
  }
  hr{
    grid-column: 1 / span all;
    grid-row: 3;
  }
  .area2,.area4{
    grid-column: 1 / span 3;
  }
  .area3,.area5{
    grid-column: 4 / span 3;
  }
  .work p{
    padding-top: var(--spacing);
  }
  footer ul.grid{
    grid-column-gap: var(--spacing);
    font-size: var(--body4);
  }
  footer ul li:nth-child(1) {
    grid-column: 1 / span 2;
  }
  footer ul li:nth-child(2) {
    grid-column: 4 / span 1;
    margin-left: var(--spacing);
  }
  footer ul li:nth-child(3) {
    grid-column: 5 / span 2;

  }
  /* //
  // Borders
  // */
  article::after {
    left: 0
  }
  article.area1::after,
  article.area4::after {
    border: none;
  }
  .work p::after {
    left: 0;
    right: 0;
  }
  /* article.area5.work p::after {
    right: calc(var(--spacing) * -1);
  } */
  article.area4::after,
  article.area5::after{
    border-top: 1px solid;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
  }
  article.area2.work p,
  article.area4.work p{
    padding-right: var(--spacing);
  }
  article.area3.work p,
  article.area5.work p{
    padding-left: var(--spacing);
  }
  /* //
Work images
// */
  article.area2 img {
    background-size: 50%;
  }
  article.area3 img {
    filter: invert();
    background-size: 80%;
  }
  article.area4 img {
    background-size: 110%;
  }
  article.area5 img {
    background-size: 80%;
  }
}
/* ipad Mini Portrait */
@media only screen and (width:768px) and (resolution: 324dpi) {
  :root {
    --spacing: 24px;
    --hero-spacing: 48px;
    --body1: 16px;
    --lh-body1: 22px;
    --body2: 14px;
    --lh-body2: 19px;
    --body3: 12px;
    --body4: 10px;
    --headline: 64px;
    --title: 20px;
    --lh-headline: 70px;
    --max-width: 1280px;
    --text-columns: 2;
    --grid-columns: 12;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* For Tablets portrait: */
  :root {
    --spacing: 24px;
    --hero-spacing: 48px;
    --body1: 16px;
    --lh-body1: 22px;
    --body2: 13px;
    --lh-body2: 17px;
    --body3: 12px;
    --body4: 10px;
    --headline: 56px;
    --lh-headline: 62px;
    --title: 20px;
    --max-width: 1280px;
    --text-columns: 1;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* For Tablets portrait: */
}
