@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap');

:root {
  --spacing: 32px;
  --hero-spacing: 6vh;
  --header: 56px;
  --footer: 32px;
  --body1: 16px;
  --lh-body1: 24px;
  --body2: 12px;
  --lh-body2: 20px;
  --body3: 12px;
  --body4: 10px;
  --headline: 72px;
  --lh-headline: 76px;
  --headline2: 48px;
  --lh-headline2: 54px;
  --headline3: 24px;
  --lh-headline3: 30px;
  --title: 18px;
  --text-columns: 2;
  --grid-columns: 12;
  --main-color:#333;
  --background-color:#fff;
  --accent-color:rgb(81, 0, 255);
  --window-height: 100vh;
}
:root.dark{
  --background-color:#111;
  --main-color:#fff;
  --accent-color:rgb(225, 0, 255);
  --accent-color:rgb(140, 92, 245);
}
body {
  font-family: 'Lexend', Helvetica Neue, sans-serif;
  line-height: var(--lh-body1);
  font-size: var(--body1);
  padding: 0 var(--spacing);
  color: var(--main-color);
  overflow:hidden;
}
a{
  /* font-weight: bold; */
  color: var(--main-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
}

article a, strong{
  color: var(--accent-color);
}
.grid, .work, .page {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-column-gap: var(--spacing);
  grid-row-gap: var(--spacing);
  max-width: var(--max-width);
}
header {
  height: var(--header);
  line-height: var(--header);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: darkviolet;
  padding: 0 var(--spacing);
}
header a{
  font-weight: normal;
}
header ul.grid {
  /* margin-top: var(--spacing); */
  text-transform: uppercase;
  white-space: nowrap;
  font-size: var(--body3);
  align-items: center;
  align-items: baseline;
}
header ul li:nth-child(1) {
  font-weight: 600;
  grid-column: 1 / span 3;
  font-size: var(--title);
}
footer{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  bottom: 0;
  padding: 0 var(--spacing);
  z-index: 2;
  height: var(--footer);
  line-height: var(--footer);
  background-color: rgb(4, 211, 0);
}
footer ul {

  height: var(--spacing) auto;
  line-height: var(--spacing) auto;;
  white-space: nowrap;
  font-size: var(--body4);
  align-items: baseline;
}
footer ul li:nth-child(1) {
  grid-column: 1 / span 3;
}
footer ul li:nth-child(2) {
  grid-column: 6 / span 2;
}
footer ul li:nth-child(3) {
  grid-column: 10 / span 1;

}
footer ul li:nth-child(4) {
  grid-column: 12 / span 1;
  text-align: right;
  display: none;
}


/* //
GRID SYSTEM
// */
header {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
}
h1{
  grid-column: 1 / span 11;
  font-weight: 400;
}
h2{
  grid-column: 1 / span 3;
  font-weight: 400;
}
h3{
  width: 100%;
  font-weight: 400;
  margin-bottom: calc(var(--spacing) / 2.5);
}
p{
  margin-bottom: calc(var(--spacing) / 2.5);
}
.page .content h2{
  margin-bottom: var(--spacing);
}
.page .content{
  grid-column: 6 / span 6;
  /* padding: var(--hero-spacing) 0; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.project .content{
  grid-column: 1 / span 5;
  grid-row: 1 / span 2;
  /* padding: var(--hero-spacing) 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .content{
  justify-content: start;
}
.page ul{
  width: 100%;
  font-size: var(--body2);
}
.page ul li{
  border-bottom: 1px solid;
  padding: 4px 0;
}
.page ul li:last-child{
  border-bottom: none;
}
div.w{
  background: #ccc;
  border-radius: 8px;
}
.pic1{
  grid-column: 6 / span 4;
  grid-row: 1 / span 2;
  /* margin: var(--hero-spacing) 0; */
}
.pic2{
  grid-column: 10 / span 3;
  grid-row: 1;
  /* margin: var(--hero-spacing) 0 0 0; */
}
.pic3{
  grid-column: 10 / span 3;
  grid-row: 2;
  /* margin: 0 0 var(--hero-spacing) 0; */
}
div.w.c{
  background: var(--accent-color);
}
/* //
Layout heights 
& 
Typography
// */
h1 {
  font-size: var(--headline);
  line-height: var(--lh-headline);
}
h2{
  font-size: var(--headline2);
  line-height: var(--lh-headline2);
  
}
h3{
  font-size: var(--headline3);
  line-height: var(--lh-headline3);
}
/* //
Snapping effects
// */
section{
  position: absolute;
  left: 0;
  right: 0;
  height: calc(var(--window-height));
  z-index: 1;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}
article{
  width: calc(100vw);
  scroll-snap-align: center;
  height: var(--window-height);
  padding: calc(var(--header) + var(--spacing)) var(--spacing) calc(var(--footer) + var(--spacing)) var(--spacing);
  position: sticky;
  top: 0;
  background:var(--background-color);
  overflow:hidden; 
  
}
/* article *{
  display: none;
} */
article.page1{
  background: rgb(159, 109, 90);
}
article.page2{
  background: #00f;
}
article.page3{
  background: #f0f;
}
article.page4{
  background: #999;
}
article.page5{
  background: rgb(0, 255, 247);
}
article.page6{
  background: rgb(217, 255, 0);
}
article.page7{
  background: rgb(142, 122, 122);
}
/* ******************************************************************
***************************** MOBILE ********************************
********************************************************************* */
@media only screen and (max-width: 767px) {
  :root {
    --spacing: 16px;
    --hero-spacing: 6vh;
    --body1: 12px;
    --lh-body1: 18px;
    --body2: 10px;
    --lh-body2: 15px;
    --body3: 10px;
    --body4: 8px;
    --headline: 44px;
    --lh-headline: 48px;
    --headline2: 24px;
    --lh-headline2: 28px;
    --headline3: 16px;
    --lh-headline3: 22px;
    --title: 16px;
    --text-columns: 1;
    --grid-columns: 12;
    --main-color:#111;
    --background-color:#fff;
  }
  footer ul li:nth-child(1) {
    grid-column: 1 / span 3;
  }
  footer ul li:nth-child(2) {
    grid-column: 7 / span 2;
  }
  footer ul li:nth-child(3) {
    grid-column: 12 / span 1;
    text-align: right;
  }
  footer ul li:nth-child(4) {
    grid-column: 12 / span 1;
    text-align: right;
    display: none;
  }
  section{
    position: absolute;
    left: 0;
    right: 0;
    height: calc(var(--window-height) - 10px);
  }
  article{
    height: calc(var(--window-height) - 10px);
  }
  /* //
  GRID SYSTEM
  // */
  header {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }
  h1{
    grid-column: 1 / span ALL;
  }
  h2{
    grid-column: 1 / span ALL;
  }
  .page .content{
    grid-column: 1 / span ALL;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .project .content{
    grid-column: 1 / span ALL;
    grid-row: 1 / span 1;
    /* margin:var(--hero-spacing) 0 calc(var(--spacing) * 1.5) 0; */

  }
  .about{
    display: flex;
    flex-direction: column;
  }
  .about .content{
    justify-content: start;
  }

  .page ul li{
    padding: 4px 0;
    display: none;
  }
  .pic1{
    grid-column: 1 / span all;
    grid-row: 2;
    min-height: 20vh;
    margin: 0 !important;
  }
  .pic2{
    grid-column: 1 / span 6;
    grid-row: 3;
    /* margin: 0 0 var(--spacing) 0; */
    min-height:10vh;
  }
  .pic3{
    grid-column: 7 / span all;
    grid-row: 3;
    /* margin: 0 0 var(--spacing) 0; */
    min-height: 10vh;
  }
}
/* ******************************************************************
***************************** MOBILE ********************************
********************************************************************* */
@media only screen 
and (max-height : 580px) 
and (orientation : landscape){
  :root {
    --spacing: 16px;
    --hero-spacing: 8vh;
    --body1: 12px;
    --lh-body1: 18px;
    --body2: 10px;
    --lh-body2: 15px;
    --body3: 10px;
    --body4: 8px;
    --headline: 40px;
    --lh-headline: 42px;
    --headline2: 24px;
    --lh-headline2: 28px;
    --headline3: 14px;
    --lh-headline3: 20px;
    --title: 14px;
    --text-columns: 1;
    --grid-columns: 12;
    --main-color:#111;
    --background-color:#fff;
  }
  section{
    height: calc(var(--window-height) - 0);
  }
  article{
    height: calc(var(--window-height) - 0);
  }
  article.about{
    align-content: space-between;

  }
  .about .content{
    grid-column: 1 / span all;
    column-count: 2;
    column-gap: var(--spacing);
    display: block;
    align-self: flex-start;
  }
  .project .content{
    grid-column: 1 / span 6;
  }
  .page ul {
    display: block;
  }
  .page ul li{
    padding: 4px 0;
  
  }
  .page .header{
    overflow: scroll;
    display: block;
    height: auto;
  }
  h3, p{
    margin-bottom: calc(var(--spacing));
  }
  .header p{
  }
  footer ul li:nth-child(2) {
    grid-column: 6 / span 2;
  }
  footer ul li:nth-child(3) {
    grid-column: 10 / span 2;
  }
  footer ul li:nth-child(4) {
    grid-column: 12 / span 1;
  }
  .pic1{
    grid-column: 7 / span 3;
    grid-row: 1 / span 2;
    /* margin: var(--hero-spacing) 0; */
  }
  .pic2{
    grid-column: 10 / span 3;
    grid-row: 1;
    /* margin: var(--hero-spacing) 0 0 0; */
  }
  .pic3{
    grid-column: 10 / span 3;
    grid-row: 2;
    /* margin: 0 0 var(--hero-spacing) 0; */
  }
  
}
@media only screen 
and (max-width : 880px)
and (max-height : 880px) {
  .page ul{
    display: none;
  }
  section{
    height: calc(var(--window-height));
  }
  article{
    height: calc(var(--window-height));
  }
}



/* ******************************************************************
***************************** TABLET ********************************
********************************************************************* */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait){
  :root {
    --spacing: 24px;
    --hero-spacing: 6vh;
    --body1: 13px;
    --lh-body1: 18px;
    --body2: 11px;
    --lh-body2: 17px;
    --body3: 10px;
    --body4: 8px;
    --headline: 56px;
    --lh-headline: 60px;
    --headline2: 32px;
    --lh-headline2: 36px;
    --headline3: 18px;
    --lh-headline3: 22px;
    --title: 16px;
    --text-columns: 1;
    --grid-columns: 12;
    --main-color:#111;
    --background-color:#fff;
  }
  footer ul li:nth-child(1) {
    grid-column: 1 / span 3;
  }
  footer ul li:nth-child(2) {
    grid-column: 7 / span 2;
  }
  footer ul li:nth-child(3) {
    grid-column: 12 / span 1;
    text-align: right;
  }
  footer ul li:nth-child(4) {
    grid-column: 12 / span 1;
    text-align: right;
    display: none;
  }
  /* //
  GRID SYSTEM
  // */
  header {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }
  h1{
    grid-column: 1 / span 11;
  }
  h2{
    grid-column: 1 / span 3;
  }
  .page .content{
    grid-column: 7/ span all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project .content{
    grid-column: 1 / span all;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-column-gap: var(--spacing);
    grid-row-gap: var(--spacing);
  }

  .project .content .header{
    grid-column: 1 / span 6;
  }
  .project .content ul{
    grid-column: 7 / span 6;
    grid-row: 1;
    justify-content: baseline;
    margin-top: var(--headline);
  }
  .about .content{
    justify-content: start;
  }
  
  .page ul li{
    padding: 4px 0;
  }
  .pic1{
    grid-column: 1 / span all;
    grid-row: 2;
    min-height: 20vh;
    margin: 0 !important;
  }
  .pic2{
    grid-column: 1 / span 6;
    grid-row: 3;
    margin: 0 0 var(--spacing) 0;
    min-height:10vh;
  }
  .pic3{
    grid-column: 7 / span all;
    grid-row: 3;
    margin: 0 0 var(--spacing) 0;
    min-height: 10vh;
  }
}
/* ******************************************************************
***************************** TABLET ********************************
********************************************************************* */
@media and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* For Tablets portrait: */
  :root {
    --spacing: 24px;
    --hero-spacing: 6vh;
    --body1: 13px;
    --lh-body1: 18px;
    --body2: 11px;
    --lh-body2: 17px;
    --body3: 10px;
    --body4: 8px;
    --headline: 56px;
    --lh-headline: 60px;
    --headline2: 32px;
    --lh-headline2: 36px;
    --headline3: 18px;
    --lh-headline3: 22px;
    --title: 16px;
    --text-columns: 1;
    --grid-columns: 12;
    --main-color:#111;
    --background-color:#fff;
  }
  footer ul li:nth-child(1) {
    grid-column: 1 / span 3;
  }
  footer ul li:nth-child(2) {
    grid-column: 8 / span 2;
  }
  footer ul li:nth-child(3) {
    grid-column: 10 / span 1;
    text-align: right;
  }
  footer ul li:nth-child(4) {
    grid-column: 12 / span 1;
    text-align: right;
  }
  /* //
  GRID SYSTEM
  // */
  header {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }
  h1{
    grid-column: 1 / span 11;
  }
  h2{
    grid-column: 1 / span 3;
  }
  .page .content{
    grid-column: 8 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project .content{
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about .content{
    justify-content: start;
  }
  .page ul li{
    padding: 4px 0;
  }
  .pic1{
    grid-column: 5 / span 4;
    grid-row: 1 / span 2;
    margin: var(--hero-spacing) 0;
  }
  .pic2{
    grid-column: 9 / span 4;
    grid-row: 1;
    margin: var(--hero-spacing) 0 0 0;
  }
  .pic3{
    grid-column: 9 / span 4;
    grid-row: 2;
    margin: 0 0 var(--hero-spacing) 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  /* For Tablets portrait: */
}
