@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap');
:root {
  --spacing: 32px;
  --hero-spacing: 10vh;
  --header: 32px;

  --body1: 14px;
  --lh-body1: 20px;

  --body3: 12px;
  --body4: 10px;

  --headline: 56px;
  --lh-headline: 62px;

  --headline2: 32px;
  --lh-headline2: 40px;

  --headline3: 14px;
  --lh-headline3: 20px;

  --title: 20px;
  --max-width: 1920px;

  --text-columns: 2;
  --grid-columns: 12;

}
@media (prefers-color-scheme: light) {
	:root {
    /* Colors */
    --background: #fff;
    --main-color: rgba(0, 0, 0, 0.97);
    --accent1-color: rgba(255, 0, 0, 1);
    --accent2-color: rgba(4, 0, 255, 1);
    --accent3-color: rgba(246, 255, 0, 1);
    --code-color: #eee;
    --border-color: rgba(0, 0, 0, 0.2);
    --primary-color-reverse: #ffffff;
    --header-bg: rgba(255, 255, 255, 0.5);
    --blur-background: rgba(255, 255, 255, 0.4);
    --ads-bg: #f4f4f4;
   
  }
}

@media (prefers-color-scheme: dark) {
	:root {
    --background: rgba(0, 0, 0, 1);
    --main-color: rgba(255, 255, 255, 0.97);
    --accent1-color: rgba(255, 0, 0, 1);
    --accent2-color: rgba(4, 0, 255, 1);
    --accent3-color: rgba(246, 255, 0, 1);
    --code-color: #666;
    --border-color: rgba(255, 255, 255, 0.2);
    --primary-color-reverse: #101010;
    --header-bg: rgba(16, 16, 16, 0.5);
    --blur-background: rgba(0, 0, 0, 0.4);
    --ads-bg: #1f1c1c;
  }
}
body {
  font-family: 'Lexend', neue-haas-grotesk-text,Helvetica Neue, sans-serif;
  line-height: var(--lh-body1);
  font-size: var(--body1);
  padding: 0 var(--spacing);
  background: var(--background);
  color: var(--main-color);
  
}
a{
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}
.grid, .work {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-column-gap: var(--spacing);
  grid-row-gap: 0px;
  max-width: var(--max-width);
}
section.grid{
  background: #ff0;
}
.work{
  border-top: 1px solid;
  padding: calc(var(--spacing) / 2) 0;
  align-items: baseline;
}
header {
  margin-top: 0;
  height: calc(var(--spacing) * 2);
  line-height: calc(var(--spacing) * 2);
  position: sticky;
  top: 0;
  background: var(--background);
  z-index: 100;
}
header a{
  font-weight: normal;
}
header ul.grid {
  /* margin-top: var(--spacing); */
  text-transform: uppercase;
  white-space: nowrap;
  font-size: var(--body3);
  align-items: center;
  align-items: baseline;
}
header ul li:nth-child(1) {
  font-weight: 600;
  grid-column: 1 / span 3;
  font-size: var(--title);
}
header ul li:nth-child(2) {
  grid-column: 6 / span 2;
}
header ul li:nth-child(3) {
  grid-column: 9 / span 1;
}
footer{
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background: var(--background);
}
footer ul {
  text-transform: uppercase;
  border-top: 1px solid;
  padding: calc(var(--spacing) / 2) 0;
  height: var(--spacing) auto;
  line-height: var(--spacing) auto;;
  white-space: nowrap;
  font-size: var(--body4);
  align-items: baseline;
}
footer ul li:nth-child(1) {
  grid-column: 1 / span 3;
}
footer ul li:nth-child(2) {
  grid-column: 6 / span 2;
}
footer ul li:nth-child(3) {
  grid-column: 9 / span 3;
}

/* //
GRID SYSTEM
// */
header {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
}
h1{
  grid-column: 1 / span 8;
  margin: var(--hero-spacing) 0;
  font-weight: 400;
}
picture{
  grid-column: 1 / span 5;
  grid-row: 2;
  margin-bottom: var(--spacing);
}
.area1{
  grid-column: 6 / span 6;
  grid-row: 2;
}
.area2{
  grid-column: 1 / span all;
  grid-row: 3;
}
.area3{
  grid-column: 1 / span all;
  grid-row: 4;
}
.area4{
  grid-column: 1 / span all;
  grid-row: 5;
}
.area5{
  grid-column: 1 / span all;
  grid-row: 6;
}
.work h2{
  grid-column: 1 / span 2;
}
.work h3{
  grid-column: 3 / span 3;
}
.work p{
  grid-column: 6 / span 3;
}
.work a.thumb{
  grid-column: 11 / span 2;
  align-self: center;
  background: var(--main-color);
}
/* //
Layout heights 
& 
Typography
// */
h1 {
  font-size: var(--headline);
  line-height: var(--lh-headline);
}
h1 span{
  color: var(--accent2-color);
}
h2{
  font-size: var(--headline2);
  line-height: var(--lh-headline2);
  
}
h3{
  font-size: var(--headline3);
  line-height: var(--lh-headline3);
  font-weight: 500;
}
.area1 p {
  border-top: none;
  columns: var(--text-columns);
  column-gap: var(--spacing);
  padding: 0;
  opacity: .6;
  margin: 0 0 var(--spacing) 0 ;
}
.area1 p span{
 
}
/* //
Work images
// */
img {
  width: 100%;
  outline: solid 0px #fff;
  display: block;
  border-radius: 18px;
}
.work img {
  aspect-ratio: 1 / 1;
  object-fit: scale-down;
}
.work a{
  border-bottom: 1px solid var(--accent2-color);;
}
article.area2 img {
  background: url(images/hero_google.png) no-repeat center center;
  background-size: 100%;
}
article.area3 img {
  background: url(images/hero_abdz.png) no-repeat center center;
  background-size: 100%;
}
article.area4 img {
  background: url(images/hero_calmaria.png) no-repeat center center;
  background-size: 100%;
}
article.area5 img {
  background: url(images/hero_terral.png) no-repeat center center;
  background-size: 100%;
}

@media only screen and (max-width: 480px) {
  :root {
    --headline: 32px;
    --lh-headline: 40px;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --spacing: 16px;
    --hero-spacing: 8vh;
    --header: 20px;
    --body1: 14px;
    --lh-body1: 20px;
    --body3: 12px;
    --body4: 10px;

    --headline: 34px;
    --lh-headline: 42px;
    --headline3: 14px;
    --lh-headline3: 20px;
    --title: 16px;
    --max-width: 600px;
    --text-columns: 1;
    --grid-columns: 12;
    --max-width: 600px;
  }
  .grid,
  .work{
    margin: auto auto;
  }
  h1{
    grid-column: 1 / span all;
  }
  picture{
    grid-column: 1 / span all;
  }
  .area1{
    grid-row: 3;
    grid-column: 1 / span all;
    margin: var(--spacing) 0 var(--spacing) 0 ;
  }
  .work h2{
    grid-column: 1 / span 6;
    grid-row: 2;
    margin-top: var(--hero-spacing) 0;
  }
  .work h3{
    grid-column: 1 / span all;
    grid-row: 3;
    margin-top: calc(var(--spacing) / 2);
    margin-bottom: var(--spacing) 0;
  }
  .work p{
    grid-column: 1 / span all;
    grid-row: 4;
    margin: var(--spacing) 0;
  }
  .work a.thumb{
    grid-column: 1 / span all;
    margin:var(--spacing) 0 ;
  }
  .work img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  header ul li:nth-child(2) {
    grid-column: 8 / span 2;
  }
  header ul li:nth-child(3) {
    grid-column: 11 / span 1;
  }
  footer ul li:nth-child(1) {
    grid-column: 1 / span 2;
  }
  footer ul li:nth-child(2) {
    grid-column: 6/ span 1;
  }
  footer ul li:nth-child(3) {
    grid-column: 7 / span 3;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1366px) {
  /* For Tablets portrait: */
  :root {
    --body1: 16px;
    --lh-body1: 24px;
    --body1: 14px;
    --lh-body1: 20px;
    --body3: 12px;
    --body4: 10px;
    --headline2: 28px;
    --lh-headline2: 36px;
    --headline3: 14px;
    --lh-headline3: 20px;
    --text-columns: 1;
  }
  h1{
    grid-column: 1 / span 10;
  }
  .work p{
    grid-column: 6 / span 4;
  }
  .work p{
  }
  .work .thumb{
    grid-column: 10/ span 3;
  }
  .work img{
    aspect-ratio: 1 / 1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  /* For Tablets portrait: */
  .work h3 {
    grid-column: 1 / span 3;
  }
}
